include:
  - project: SocialGouv/gitlab-ci-yml
    file: /base_register_stage.yml
    ref: v15.9.0
  #
stages:
  - register
  - backup
  - download
  - ingest
  - analyse

Register image:
  stage: register
  extends: .base_register_stage
  only:
    - master
  #  variables:
  #    - $CI_PIPELINE_SOURCE != "schedule"
  except:
    - schedules
  variables:
    CONTEXT: . # The folder where the Dockerfile is
    IMAGE_NAME: $CI_REGISTRY_IMAGE # The image name

Backup Matomo data:
  stage: backup
  image: mcr.microsoft.com/azure-cli
  only:
    refs:
      - schedules
    variables:
      - $MONOLOG_ACTION == "ingest"
      #- $CI_PIPELINE_SOURCE == "schedule"
  script:
    - echo $MONOLOG_ACTION
    - AZ_STORAGE_TOKEN=$AZ_STORAGE_TOKEN bash ./scripts/dump_matomo_yesterday.sh

Download dump from Azure:
  stage: download
  image: mcr.microsoft.com/azure-cli
  only:
    variables:
      - $MONOLOG_ACTION == "ingest"
      - $CI_PIPELINE_SOURCE == "schedule"
  script:
    - AZ_STORAGE_TOKEN=$AZ_STORAGE_TOKEN bash ./scripts/download_dump.sh
  artifacts:
    paths:
      - data/
    expire_in: 1 hour

Ingest to ES:
  stage: ingest
  image: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
  only:
    variables:
      - $MONOLOG_ACTION == "ingest"
      - $CI_PIPELINE_SOURCE == "schedule"
  artifacts:
    paths:
      - data/
    expire_in: 1 hour
  script:
    - yarn install
    - yarn build
    - node dist/index.js

Run analysis:
  stage: analyse
  image: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
  only:
    variables:
      - $MONOLOG_ACTION == "analyse"
      - $CI_PIPELINE_SOURCE == "schedule"
  script:
    - yarn install
    - yarn build
    - node dist/index.js
