name: Node.js CI

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # - uses: fixpoint/azblob-download-artifact@v3
      #   with:
      #     connection-string: ${{ secrets.AZURE_STORAGE_CONNECTION_STRING }}
      #     container: logs
      #     name: test-data.csv
      #     path: /data/
      # - run: head -c 30 /data/test-data.csv
      - uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.3.1
          cache: "yarn"
      - name: Runs Elasticsearch
        uses: elastic/elastic-github-actions/elasticsearch@master
        with:
          stack-version: 8.13.4
          security-enabled: false
      - name: Verify Elasticsearch connection
        run: |
          curl -fsSL "http://localhost:9200/_cat/health?h=status"
      - run: yarn --frozen-lockfile
      - run: yarn lint
      - run: yarn test
        env:
          CDTN_API_URL: https://code-du-travail-numerique-dev.dev.fabrique.social.gouv.fr
      - run: yarn build:bin
      - run: yarn build:lib
      - run: yarn start --version
        env:
          CDTN_API_URL: https://code-du-travail-numerique-dev.dev.fabrique.social.gouv.fr
      - run: yarn start --help
        env:
          CDTN_API_URL: https://code-du-travail-numerique-dev.dev.fabrique.social.gouv.fr
      - uses: codecov/codecov-action@v2
